<div id="sample-templateInheritance" class="daliSample">
	<div class="title">Template Inheritance</div>
	<div class="description">
		<p>
			Here is how you can achieve complexe template inheritance with
			the correct combination of the "template", "render" and "var" tags.
		</p>
		<p>
			The template defines 3 templates and starts by rendering the "page" template, which render "basePage",
			which then renders the "html5" template. In each steps, variables and rendered content is passed as
			normal variables with the "render-var" and "var" tags.
		</p>
	</div>
<script id="sample-templateInheritance-data" type="application/json">
{user: {
	firstname: "John",
	lastname: "Doe"
}}
</script>
<script id="sample-templateInheritance-template" type="text/x-dali-template">
{{template "page"}}
	{{var "pageClass", "yeah" /}}
	{{render "basePage" }}
	{{render-var "_title" >> trim}}
		Its a title!
	{{render-var "_content" }}
		Content goes here!
	{{render-var "_footer" }}
		And something in the footer.
	{{endrender}}
{{endtemplate}}

{{template "basePage"}}
	{{render "html5"}}
		This default block will be available as the _ouput variable!<br />
		For page templates, it might be usefull to pass meta-data such as
		build version, render time, credits or other secondary information
		to be hidden to the user but available to the devs.<br /><br />
		the _output var is not really semantically suited to be used like
		for the content of a body.
	{{render-var "_head" }}
		<div class="title">Welcome :: {{out vars._title /}}</div>
	{{render-var "_content" }}
		<div style="border: 1px solid; padding: 10px; margin-bottom: 10px;">
			{{out vars._content /}}
		</div>
	{{render-var "_footer"}}
		<div style="border: 1px solid; padding: 10px">
			{{out vars._footer /}}
			<div class="copyright">Copyright 2011</div>
		</div>
	{{endrender}}
{{endtemplate}}

{{template "html5"}}
	<style>
		.html {
			padding: 10px;
			background: #fff;
		}
		.head {
			background: #f3f3f3;
			margin-bottom: 10px;
			padding: 10px;
		}
		.body {
			background: #f3f3f3;
			padding: 10px;
		}
	</style>
	<div class="html">
		<div class="head">
			{{out vars._head /}}
		</div>
		<div class="body {{out vars.pageClass /}}">
			{{out vars._content /}}
			{{out vars._footer /}}
		</div>
	</div>
	<div style="font-size: 0.8em; margin-top: 10px; color: #999">
		{{out vars._output /}}
	</div>
{{endtemplate}}

{{render "page" /}}
</script>
</div>
