<div id="sample-if" class="daliSample">
	<div class="title">Conditionnal (if)</div>
	<div class="description">
		<p>
			The "if" tag allows you to handle conditionnal operations in many ways.
			There are 3 arguments to this tag:
		</p>
		<ul>
			<li>The expression to be evaluated as true or false</li>
			<li>The value if true</li>
			<li>The value if false</li>
		</ul>
		<p>
			You can also provide a block of content to display
			if the expression is true.
		</p>
		<h3>Alternate tags:</h3>
		<ul>
			<li>{{if-else someExpression}} : Try to match another condition if precedent one wasnt.</li>
			<li>{{if-not}} : If no previous condition have been true, fallback on this tag.</li>
		</ul>
	</div>
<script id="sample-if-data" type="application/json">
{
	"TrueIsTrue": true,
	"Banana": "split!"
}
</script>
<script id="sample-if-template" type="text/x-dali-template">
<h3>True in many forms:</h3>
<p>Block output:<br />
	{{if item.TrueIsTrue}}Its true!{{endif}}
</p>
<p>Inline output:<br />
	{{if item.TrueIsTrue, "Its true again!" /}}
</p>
<p>Inline output if false:<br />
	{{if !item.TrueIsTrue, "if it was true!", "Its false that its not true!" /}}
</p>
<p>If-not tag output:<br />
	{{if !item.TrueIsTrue}}
		Its true!
	{{if-not}}
		Its not!
	{{endif}}
</p>
<p>If-else tag output:<br />
	{{if !item.TrueIsTrue}}
		Its true!
	{{if-else item.Banana === "joe!")}}
		First if was false but this new condition is also false!
	{{if-else item.Banana === "split!"}}
		First and second if were false but this third if is true!
	{{if-not}}
		Its not!
	{{endif}}
</p>
</script>
</div>