body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #fff;
	text-align: center;
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: #000 url(images/background.png);
}
.page {
	position: relative;
	margin: 0px auto;
	text-align: left;
	width: 100%;
}
html .full-frame {
	position: absolute !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	overflow: hidden;
}
.page .page-header {
	position: absolute;
	top: 30px;
	right: 30px;
	left: 30px;
	height: 30px;
	background: #444;
	behavior: url(../../libs/css3pie/PIE.htc);
	-webkit-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

.page .page-header h1 {
   margin: 0;
   padding: 5px 25px;
   color: #fff;
   font-size: 1.1em;
   font-weight: normal;
}

.page .page-footer {
}
.page .page-body {
	top: 30px !important;
	margin: 0px 0px;
	position: relative;
	overflow: hidden;
}
.templates {
	display: none;
}
label {
	display: block;
	position: absolute;
	top: -1.8em;
	right: 0;
	z-index: 1000;
	font-size: 0.8em;
	font-weight: bold;
	color: #776655;
	height: 1.5em;
	padding: 0.3em 10px 0px 10px;
	behavior: url(../../libs/css3pie/PIE.htc);
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	background: #ddccbb;
}
.template label {
	background: #eeddcc;
}

html body .data .ace_editor .ace_scroller {
	background: #ddccbb !important;
}
html body .template .ace_editor .ace_scroller {
	background: #eeddcc !important;
}
html body .output .ace_editor .ace_scroller {
	background: #ffeedd !important;
}
html body .ace-twilight .ace_text-layer {
  color: #000;
}
html body .ace_print_margin {
	display: none;
}


.samples {
	position: absolute;
	left: 30px;
	top: 50%;
	right: 75%;
	bottom: 30px;
	behavior: url(../../libs/css3pie/PIE.htc);
	-webkit-border-radius: 0 0 0 15px;
	-moz-border-radius: 0 0 0 15px;
	border-radius: 0 0 0 15px;
}
.data {
	color: #987;
	background: #dcb !important;
	position: absolute;
	top: 30px;
	left: 25%;
	width: 40%;
	bottom: 60%;
}
.template {
	position: absolute;
	top: 40%;
	left: 25%;
	width: 40%;
	bottom: 30px;
	color: #ba9;
	background: #edc !important;
}
.output {
	position: absolute;
	left: 65%;
	top: 30px;
	right: 30px;
	bottom: 30px;
	color: #cba;
	background: #fed !important;
	behavior: url(../../libs/css3pie/PIE.htc);
	-webkit-border-radius: 0 0 15px 0;
	-moz-border-radius: 0 0 15px 0;
	border-radius: 0 0 15px 0;
}
.description {
	position: absolute;
	left: 30px;
	top: 30px;
	right: 75%;
	bottom: 50%;
	color: #cba;
	background: #cba !important;
}
.descriptionWrapper {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	behavior: url(../../libs/css3pie/PIE.htc);
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #a98;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 15px;
	font-size: 0.85em;
	color: #000;
}
.descriptionWrapper p {
	margin: 0px 0px 1.3em 0px;
}
.descriptionWrapper h2 {
	font-size: 1.1em;
	color: #000;
	margin: 0px 0px 1em 0px;
}
.descriptionWrapper ul {
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
.descriptionWrapper ul li {
	margin: 0px;
	padding: 0px;
}

textarea {
	width: 100%;
	border: none;
	padding: 5px;
	font-weight: normal;
}

.data input,
.template input,
.output input {
	display: none;
}
page-body,
.testBoard {
	height: 100% !important;
}
.testBoard {
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
	right: 0;
}
.samples {
	overflow-x: hidden;
	overflow-y: auto;
	background: #cba;
}
#sampleOutput,
#sampleOutputHTML,
#sampleData,
#sampleTemplate {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#sampleOutputHTML {
	z-index: 100;
	background: #fed url(images/dali-stache.png) top right no-repeat;
	padding: 20px;
	color: #000;
	font-weight: normal;
	font-size: 0.9em;
	behavior: url(../../libs/css3pie/PIE.htc);
	-webkit-border-radius: 0 0 15px 0;
	-moz-border-radius: 0 0 15px 0;
	border-radius: 0 0 15px 0;
}
html body .ace_editor .ace_scroller {
	overflow-x: auto;
}
html body .ace_editor .ace_gutter {
	display: none;
}
html body .ace_editor .ace_sb {
	overflow-y: auto;
}

/*
List of samples
*/
.sampleList {
}

.sampleList ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0.9em;
}

.sampleList ul li:nth-child(2n-1) {
	background: #cba;
}
.sampleList ul li {
	background: #ba9;
	margin: 0px;
}
.sampleList ul li a:visited,
.sampleList ul li a:link {
	display: block;
	padding: 5px 10px 5px 25px;
	text-decoration: none;
	color: #000;
}
.sampleList ul li a:hover {
	color: #fff;
	background: #444;
}

.daliSample {
	display: none;
}